<div class="container m-5 ">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card ">
        <h3 class=" p-1 m-1 text-md-center ">Sign Up</h3>
        <div class="card-header">
          <div class="alert alert-danger" *ngIf="errorMessage">
            {{errorMessage}}
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="formLogin" (ngSubmit)="handleLogin()">
            <div class="mb-3">
              <label class="form-label">Username</label>
              <input type="text" class="form-control" formControlName="username">
            </div>
            <div class="mb-3">
              <label class="form-label">Password</label>
              <input type="password" class="form-control" formControlName="password">
            </div>
            <button class="btn btn-success">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
