<div class="p-3">
  <div class="card">
    <div class="card-body">
      <div class="card-body">
        <input type="text" [(ngModel)]="appState.productsState.keyword">
        <button (click)="getProducts()" class="btn btn-outline-success m-2  ">
          <i class="bi bi-search  "></i>
        </button>
      </div>
     <table class="table">
       <thead>
        <tr>
          <td>Name</td> <td>Price</td> <td>Checked</td><td>Delete</td><td>Edit</td>
        </tr>
       </thead>
       <tbody>
        <!-- <tr *ngFor="let product of products$ | async ">  -->
         <tr *ngFor="let product of appState.productsState.products "> 
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
           <td *ngIf="appState.authState.roles.includes('ADMIN')">
             <button (click)="handleCheckProduct(product)" class="btn btn-outline-success">
               <i [class]="product.checked?'bi bi-check':'bi bi-circle '"></i>
             </button>
           </td>
           <td *ngIf="appState.authState.roles.includes('ADMIN')">
            <button (click)="handeldelete(product)" class="btn btn-outline-danger">
              <i class="bi bi-trash"></i>
            </button>
           </td>
           <td *ngIf="appState.authState.roles.includes('ADMIN')">
            <button (click)="handelEdit(product)" class="btn btn-outline-info ">
              <i class="bi bi-pencil"></i>
            </button>
           </td>
         </tr>
       </tbody>
     </table>
     
        <ul class="nav nav-pills ">
          <li *ngFor="let page of [].constructor(this.appState.productsState.totalPages); let i=index">
             <button (click)="handleGoToPage(i+1)"
               [ngClass]="appState.productsState.currentPage==(i+1)?'btn btn-success m-1':'btn btn-outline-success m-1'"
              >
                {{(i+1)}}
             </button>
          </li>
        </ul>
    </div>
  </div>
</div>
